.ytmVideoInfoHost,
yt-closed-captions-toggle-button,
volume-controls,
.action-menu-engagement-buttons-wrapper,
.fullscreen-watch-next-entrypoint-wrapper
{
	display: none !important;
}

.watch-on-youtube-button-wrapper {
    position: fixed !important;
    top: 0px !important;
    left: -17px !important;
}

.fullscreen-controls-always-on .watch-page-progress-bar {
    bottom: 0px !important;
	background-color: blue !important;
}

.fullscreen-controls-always-on .player-controls-bottom {
    bottom: 30px !important;
	background-color: red !important;
}
