.ytmVideoInfoHost,
yt-closed-captions-toggle-button,
volume-controls,
.action-menu-engagement-buttons-wrapper,
.fullscreen-watch-next-entrypoint-wrapper,
.ytwPlayerMiddleControlsA11ySeekButton
{
	display: none !important;
}

.watch-on-youtube-button-wrapper {
    position: fixed !important;
    top: 0px !important;
    left: -17px !important;
}

.fullscreen-controls-always-on .watch-page-progress-bar {
    bottom: 0px !important;
	height: 20px !important;
}

.fullscreen-controls-always-on .player-controls-bottom {
    bottom: 15px !important;
}

.fullscreen-action-menu {
    height: 0px !important;
    z-index: -99 !important;
}
